<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.repository.BoardMapper">
	
	<resultMap type="Board" id="boardResultMap">
		<result property="id" column="ID" />
		<result property="writer" column="WRITER" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regDate" column="REG_DATE" />
		<result property="hitCount" column="HIT_COUNT" />
	</resultMap>
	
	<insert id="insert" parameterType="Board">
		INSERT INTO xboard(id, writer, title, content, reg_date, hit_count)
		VALUES(XBOARD_SEQ.NEXTVAL, #{writer}, #{title}, #{content}, SYSDATE, 0)
	</insert>
	
	<update id="update" parameterType="Board">
		UPDATE xboard SET title=#{title}, content=#{content} WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM xboard WHERE id=#{id}
	</delete>
	
	<select id="selectById" parameterType="long" resultMap="boardResultMap">
		SELECT * FROM xboard WHERE id=#{id}
	</select>
	
	
	<select id="selectByLimit" resultType="Board">
		<bind name="start" value="@com.example.board.dto.Pager@seekStart(page, size)"/>
		<bind name="end" value="@com.example.board.dto.Pager@seekEnd(page, size)"/>
		SELECT * FROM (
			SELECT ROWNUM AS rnum, b.* FROM (
				SELECT * FROM xboard ORDER BY id DESC
			) b
		) WHERE rnum &gt;= #{start} and rnum &lt;= #{end}
	</select>
	
	<update id="increment">
		UPDATE xboard SET hit_count=hit_count+1 WHERE id=#{id} and writer!=#{requester}
	</update>
	
</mapper>