<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EM" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emp.server.mapper.EmpMapper">
	<resultMap type="Emp" id="EmpResultMap">
		<result property="empno" column="EMPNO"/>
		<result property="ename" column="ENAME"/>
		<result property="gender" column="GENDER"/>
		<result property="job" column="JOB"/>
		<result property="position" column="POSITION"/>
		<result property="email" column="EMAIL"/>
		<result property="salary" column="SALARY"/>
		<result property="hiredate" column="HIREDATE"/>
	</resultMap>
	
	<insert id="insert" parameterType="Emp">
		INSERT INTO employee
		VALUES(DEFAULT, #{ename}, #{gender}, #{job}, #{position}, #{email}, #{salary}, {hiredate})
	</insert>
	
	<update id="update" parameterType="int">
		UPDATE employee
		SET name=#{ename}, gender=#{gender}, job=#{job}, position=#{position}, email=#{email}, salary=#{salary}, hiredate=#{hiredate}
	</update>
	
	<delete id="deleteByEmpNo" parameterType="int">
		DELETE FROM employee WHERE empno=#{empno}
	</delete>
	
	<select id="selectByEmp" resultType="Map" parameterType="com.emp.server.model.Emp">
		SELECT empno, ename, gender, job, position, email, salary, hiredate, createDate, lastUpdateDate
		FROM employee 
		WHERE 1=1
		<if test="GENDER != null and !GENDER.equals('all')">
			AND GENDER = #{GENDER}
		</if>
		<if test="POSITION != null and !POSITION.equals('all')">
			AND POSITION = ${POSITION}
		</if>
	</select>
</mapper>
